body {
  background-color: #e6faff;
  margin: 4% 5%;
}

p {
  font-family: "Poppins", sans-serif;
}

.mobile-only {
  display: none;
}
nav {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  border: 1px solid #ccc;
  border-width: 1px 0;
  margin: 0;
  padding: 5px;
  text-align: center;
}
nav a {
  margin-right: 10px;
  padding: 5px;
}
.intro {
  text-align: left;
  line-height: 2;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: black;
}

nav a:hover {
  background-color: white;
  color: black;
}

header {
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
  text-align: center;
}
h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 50px;
}

.firstPlace {
  margin: 0 4%;
  display: grid;
  grid-template-columns: 50% 1fr;
  grid-template-areas:
    "calanques1-picture france-text"
    ". france-text";
  grid-gap: 30px;
}

.mountains {
  grid-area: calanques1-picture;
}

.calanques {
  grid-area: france-text;
  align-self: center;
  line-height: 2;
  width: 400px;
}

.secondPlace {
  margin: 0 4%;
  display: grid;
  grid-template-columns: 50% 1fr;
  grid-template-areas:
    "aussie-text ocean-picture"
    "aussie-text .";
  grid-gap: 30px;
}

.coralReef {
  grid-area: aussie-text;
  line-height: 2;
  align-self: center;
  width: 400px;
}

.ocean {
  grid-area: ocean-picture;
}

.thirdPlace {
  margin: 0 4%;
  display: grid;
  grid-template-columns: 50% 1fr;
  grid-template-areas:
    "iceland-picture . ice-text"
    "second-pic . ice-text";
  grid-gap: 30px;
}

.country {
  grid-area: ice-text;
  line-height: 2;
  align-self: center;
  width: 400px;
}

.ice {
  grid-area: iceland-picture;
  width: 550px;
}
.iceMountain {
  grid-area: second-pic;
  width: 550px;
}

.fourthPlace {
  margin: 0 4%;
  display: grid;
  grid-template-columns: 50% 1fr;
  grid-template-areas:
    "peru-text mountain-picture"
    "peru-text .";
  grid-gap: 10px;
}

.aztec {
  grid-area: peru-text;
  line-height: 2;
  align-self: center;
  width: 400px;
}

.llama {
  grid-area: mountain-picture;
  width: auto;
}

.fifthPlace {
  margin: 0 4%;
  display: grid;
  grid-template-columns: 50% 1fr;
  grid-template-areas:
    "canyon-picture . arizona-text"
    "grand-picture . arizona-text";
  grid-gap: 40px;
}

.arizona {
  grid-area: arizona-text;
  line-height: 2;
  align-self: center;
  width: 400px;
}

.rocks {
  grid-area: canyon-picture;
  width: 600px;
}

.canyon {
  grid-area: grand-picture;
}

.sixthPlace {
  margin: 0 4%;
  display: grid;
  grid-template-columns: 50% 1fr;
  grid-template-areas:
    "egypt-text pyramid-picture"
    "egypt-text .";
  grid-gap: 10px;
}

.egypt {
  grid-area: egypt-text;
  line-height: 2;
  align-self: center;
  width: 400px;
}

.mummy {
  grid-area: pyramid-picture;
}
