@media only screen and (max-width: 600px) {
  .mobile-only {
    display: block;
  }
  a {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
    color: black;
  }
  nav {
    text-align: left;
    margin: 0 auto;
  }

  .firstPlace {
    margin: 0 4%;
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-areas:
      "calanques1-picture"
      "france-text"
      "france-text"
      "mountain-picture";
    grid-gap: 30px;
  }

  .mountains {
    grid-area: calanques1-picture;
  }

  .calanques {
    grid-area: france-text;
    align-self: center;
    line-height: 2;
    width: 400px;
  }

  .marseille {
    grid-area: mountain-picture;
  }

  .secondPlace {
    margin: 0 4%;
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-areas:
      "ocean-picture"
      "aussie-text"
      "aussie-text";
    grid-gap: 30px;
  }

  .coralReef {
    grid-area: aussie-text;
    line-height: 2;
    align-self: center;
    width: 400px;
  }

  .ocean {
    grid-area: ocean-picture;
    width: 450px;
  }

  .thirdPlace {
    margin: 0 4%;
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-areas:
      "iceland-picture"
      "ice-text"
      "ice-text"
      "second-pic";
    grid-gap: 30px;
  }

  .country {
    grid-area: ice-text;
    line-height: 2;
    align-self: center;
    width: 400px;
  }

  .ice {
    grid-area: iceland-picture;
    width: 500px;
  }
  .iceMountain {
    grid-area: second-pic;
    width: 500px;
  }
  .fourthPlace {
    margin: 0 4%;
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-areas:
      "mountain-picture"
      "peru-text"
      "peru-text";
    grid-gap: 10px;
  }

  .aztec {
    grid-area: peru-text;
    line-height: 2;
    align-self: center;
    width: 400px;
  }

  .llama {
    grid-area: mountain-picture;
    width: auto;
    width: 535px;
  }
  .fifthPlace {
    margin: 0 4%;
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-areas:
      "canyon-picture"
      "arizona-text"
      "arizona-text"
      "grand-picture";
    grid-gap: 40px;
  }

  .arizona {
    grid-area: arizona-text;
    line-height: 2;
    align-self: center;
    width: 400px;
  }

  .rocks {
    grid-area: canyon-picture;
    width: 515px;
  }

  .canyon {
    grid-area: grand-picture;
    width: 515px;
  }
  .sixthPlace {
    margin: 0 4%;
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-areas:
      "pyramid-picture"
      "egypt-text"
      "egypt-text";
    grid-gap: 10px;
  }

  .egypt {
    grid-area: egypt-text;
    line-height: 2;
    align-self: center;
    width: 400px;
  }

  .mummy {
    grid-area: pyramid-picture;
    width: 515px;
  }
}
