body {
  background-color: #174bff;
}
.main {
  font-family: "Oswald", sans-serif;
  font-size: 45px;
  text-align: center;
}
h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 35px;
  padding: 10px;
  color: white;
}
p {
  padding: 10px;
  color: white;
  font-size: 25px;
}
