body{
  background-color: #e6faff
}
h1,h2,h3{
  font-family: 'Crimson Text', serif;
  color: #ff704d
}
h2,h3{
  border-bottom: 1px solid black;
}
p{
padding: 10px;
font-family: 'Crimson Text', serif;
/* adds a space to the border of the webpage and the words */
}

#email {
text-decoration: none;
}

a{
  text-decoration: none;
}

a:visited{
  text-decoration: none;
  color: #f9423a;
}

a:hover {
background-color: yellow;
color: black;
}

section#contact_info h3{
  color:blue;
  font-size:
}
.school{
  font-size: 18px;
  font-weight: bold;
}
.hobbies{
border: solid;
font-style: italic;
}

section#intro{
 border: 1px dotted green;

}

section#home{
color: #ff704d;

}
