@media only screen and (max-width: 600px){
    body{
        background-color: #D0D3D4;
        margin: 1% 2%;
        font-size: 20px;
        }


    a{
      text-decoration: none;
    }

    a:visited{
      text-decoration: none;
      color: white;
    }

    a:hover {
    background-color: yellow;
    color: black;
    }


    .first{
        display: grid;
        grid-template-areas:
            "first-picture"
            "first-text";
        grid-gap: 30px;
    }

    .firstPicture{
        grid-area: first-picture;
    }

    .firstText{
        grid-area: first-text;
    }

    .sad{
        display: grid;
        grid-template-areas:
            "sad-picture"
            "sad-text";
        grid-gap: 30px;
    }

    .heartBroken{
        grid-area: sad-picture;
    }

    .sadText{
        grid-area: sad-text;
    }

    .greatest{
        display: grid;
        grid-template-areas:
            "beautiful-picture"
            "beautiful-text";
        grid-gap: 30px;
    }

    .classicPicture{
        grid-area: beautiful-picture;
    }

    .beautifulText{
        grid-area: beautiful-text;
    }

    .experimental{
        display: grid;
        grid-template-areas:
            "plain-cover"
            "electronic-text";
        grid-gap: 30px;
    }

    .plainCover{
        grid-area: plain-cover;
    }

    .electronicText{
        grid-area: electronic-text;
    }

    .next{
        display: grid;
        grid-template-areas:
            "jesus-cover"
            "jesus-text";
        grid-gap: 30px;
    }

    .jesusPhoto{
        grid-area: jesus-cover;
    }

    .jesusText{
        grid-area: jesus-text;
    }
}
